.cv-block {
    background-color: #fff;
    padding: 1.5rem 0.5rem;
    color: #fff;
    background: linear-gradient(110deg, #00AD95 45%, #fff 40%);
}

.cv-block .image-area {
    text-align: right;
    margin-left: auto;
    width: 70%
}

.cv-image {
    width: 83%;
    top: 17px;
    position: relative;
}

.cv-title {
    padding-top: 1rem;
}