.navigation {
  padding: 1rem;
  background-color: #e7498a;
}

.menu {
  margin: 0;
  padding-left: 0;
}

.menu li {
  display: inline;
}

.menu li a {
  color: #fff;
  font-family: "Lobster", cursive;
  margin: 0.55rem;
  text-decoration: none;
  text-shadow: 2px 2px #4a4a4a;
  font-size: 24px;
}
