.contact-title-block {
    background-color: #E7498A;
    padding: 1rem;
}

.contact-title-block h2 {
    color: #fff;
    text-shadow: 2px 2px #4A4A4A;
    margin-bottom: 0.25rem;
    font-size: 2rem;
}