.header {
    background: linear-gradient(110deg, #E7498A 40%, #00AD95 40%);
    padding: 2rem 0.5rem 0;
}

.image-cropper {
    background-color: #E7498A;
    position: relative;
    overflow: hidden;
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
    z-index: 900;
    top: -17px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.6);
}

.header-image {
    display: inline;
    margin: 0 auto;
    width: 100%;
}

.flex-row {
    display: flex;
}

.header-title {
    color: #fff;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.header-title-name {
    color: #fff;
    margin-left: 1rem;
    width: 80px;
    margin-bottom: 0;
    position: relative;
    top: -14px;
}

.header .flex-left {
    width: 35%;
}

.header .flex-right {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-align: right;
}

@media (min-width: 768px) {
    .header-title {
        font-size: 2rem;
        padding-left: 0;
    }
}

@media (min-width: 992px) {

    .header {
        width: 100%;
    }

    .header-title {
        width: 100%;
        font-size: 3rem;
    }

    .header-title-name {
        width: 80%;
        padding-top: 0.5rem;
    }

    // .header h1 {
    //     left: 302px;
    //     width: 100%;
    //     font-size: 60px;
    //     top: 80px;
    // }
}