.header {
    background-color: #00A38D;
    padding: 0.5rem;
}

.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    left: -50px;
    z-index: 900;
    box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.6);
}

.header-image {
    display: inline;
    margin: 0 auto;
    width: 100%;
}

.flex-row {
    display: flex;
}

.header-title {
    color: #fff;
    width: 100px;
}

.header .flex-left {
    width: 25%;
}

.header .flex-right {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-align: right;
}

@media (min-width: 576px) {
    .image-cropper {
        width: 250px;
        height: 250px;
    }

    .header-image {
        width: 250px;
    }

    .header {
        width: 100%;
    }

    .header-title {
        width: 100%;
        font-size: 3rem;
    }

    .image-cropper {
        left: 0;
    }

    // .header h1 {
    //     left: 302px;
    //     width: 100%;
    //     font-size: 60px;
    //     top: 80px;
    // }
}