.row {
    display: grid;
}

.imagebox {
    background-color: #fff;
    padding: 0.5rem 0.5rem 0.25rem;
    box-shadow: 0px 2px 2px rgba(74, 74, 74, 0.8);
    margin: 0.5rem;
}

.imagebox img {
    width: 100%;
}

@media (min-width: 767px) {
    .row {
        display: flex;
    }
}